.cell {
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: #C5CAE9;
    border-radius: 2px;
    transition: background-color .2s ease-in;
}

.cell:not(.cell--selected):not(cell--disabled):hover {
    background-color: #9FA8DA;
}

.cell--selected {
    background-color: #283593;
}

.cell--disabled {
    background-color: #E0E0E0;
}
